/* ----------------Default parameters---------------- */
body {
  color: #434455;
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 2%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

/* ----------------Main class----------------- */
.container {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.headertwo {
  color: #2e2f42;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.headerthree {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.paragraph {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* ----------------Header---------------- */

.flexible {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.menu {
  display: flex;
  align-items: center;
}

.menulist {
  display: flex;
  gap: 40px;
}

.menulist-item {
  padding-top: 24px;
  padding-bottom: 24px;
}

.logo {
  color: #4d5ae5;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
}

.spanlogo {
  color: #2e2f42;
}

.navlink {
  padding: 24px 0;
  color: #434455;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.curent {
  color: #404bbf;
  position: relative;
}

.curent::after {
  display: block;
  content: '';
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #404bbf;
  position: absolute;
  left: 0;
  bottom: -1px;
}

.navlink:hover,
.navlink:focus {
  color: #404bbf;
}

.addreslist {
  display: flex;
  align-items: center;
  gap: 40px;
}

.addres {
  color: #434455;
  display: flex;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.addres:hover,
.addres:focus {
  color: #404bbf;
}

/* ----------------Hero section---------------- */

.hero {
  background-color: #2e2f42;
  max-width: 1440px;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 188px 0;
  margin-left: auto;
  margin-right: auto;
}

.herotitle {
  color: #ffffff;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
}

.herobutton {
  color: #ffffff;
  background-color: #4d5ae5;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.herobutton:hover,
.herobutton:focus {
  background-color: #404bbf;
}

/* ----------------About section---------------- */

.aboutcontainer {
  padding: 120px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.aboutlist {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.aboutlist-item {
  width: calc((100% - 72px) / 4);
}

.about-item-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  margin-bottom: 8px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid var(--lightslate, #8e8f99);
  background: var(--cloud, #f4f4fd);
}

.aboutheader {
  margin-bottom: 8px;
}

/* ----------------Team section---------------- */

.team {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.teamheader {
  margin-bottom: 72px;
}

.teamlist {
  display: flex;
  gap: 24px;
}

.teamcard {
  background-color: #ffffff;
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.teamcard-icons-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.teamcard-text {
  padding: 32px 0;
}

.teamcard-icons-item {
  width: 40px;
  height: 40px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icons-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icons-item-icon {
  fill: #f4f4fd;
}

.icons-item:hover,
.icons-item:focus {
  background-color: #404bbf;
}

.teamh {
  margin-bottom: 8px;
  text-align: center;
}

.teamp {
  margin-bottom: 8px;
  text-align: center;
}

/* ----------------Portfolio---------------- */

.portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}

.headerportfolio {
  margin-bottom: 72px;
}

.portfoliolist {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfoliolist-item {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfoliotext {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfoliolist-item-header {
  margin-bottom: 8px;
}

.portfoliolist-item-image {
  position: relative;
  overflow: hidden;
}

.portfoliolist-item-overlay {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfoliolist-item:hover,
.portfoliolist-item:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfoliolist-item:hover .portfoliolist-item-overlay,
.portfoliolist-item:focus .portfoliolist-item-overlay {
  transform: translateY(0%);
}

/* ----------------Footer---------------- */

.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.footer .container {
  display: flex;
  align-items: baseline;
}

.footer-icons {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  margin-right: 80px;
}

.footer-icons-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.footer-icons-item {
  background-color: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 40px;
  height: 40px;
}

.footer-logo {
  margin-right: 120px;
}

.footerlogo {
  margin-bottom: 16px;
}

.spanlogofooter {
  color: #f4f4fd;
}

.paragraphfooter {
  color: #ffffff;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
  font-weight: 500;
  margin-bottom: 16px;
}

.icons-item-f {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icons-item-f:hover,
.icons-item-f:focus {
  background-color: #31d0aa;
}

.footer-form {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.subscribe-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}

.email-input {
  color: #ffffff;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;

  background-color: transparent;
  width: 264px;
  height: 40px;
  padding-left: 16px;
  border-radius: 4px;
  border: 1px solid var(--WHITE, #fff);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.submit-button {
  color: #ffffff;
  background-color: #4d5ae5;

  font-family: inherit;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;

  padding: 8px 24px;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 165px;
  height: 40px;
  border: none;
  border-radius: 4px;
}

.send-icon {
  margin-left: 16px;
}

.input::placeholder {
  color: #ffffff;
  font-size: 12px;
}

/* ---------------Modal window--------------- */

.containermodal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.containermodal.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 72px 24px 24px 24px;
  width: 408px;
  min-height: 584px;
  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translate(-50%, -50%) scale(1);
}

.closebutton {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.closebutton:hover,
.closebutton:focus {
  background-color: #404bbf;
  border: none;
}

.close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.closebutton:hover > .close-icon {
  fill: #ffffff;
}

.closebutton:focus > .close-icon {
  fill: #ffffff;
}

.modalparagraph {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 16px;
}

.modalform-container {
  margin-bottom: 8px;
}

.input-container {
  position: relative;
}

.inputlabel {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}

.input-item {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-item:focus {
  border-color: #4d5ae5;
}

.item-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-item:focus + .item-icon {
  fill: #4d5ae5;
}

.comment-container {
  margin-bottom: 16px;
}

.inputcomment {
  display: block;
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.inputcomment:focus {
  border-color: #4d5ae5;
}

.inputcomment::placeholder {
  color: #8e8f99;
}

.pryvacy-container {
  margin-bottom: 24px;
}

.inputprivacy {
}

.privacycheckbox {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}

.inputprivacy:checked + .inputlabel > .privacycheckbox {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.inputprivacy:focus + .inputlabel > .privacycheckbox {
  border-color: #404bbf;
}

.pryvacylink {
  color: #4d5ae5;
  text-decoration-line: underline;
}

.modalsubmint-buttom {
  display: block;
  min-width: 169px;
  height: 56px;
  margin-right: auto;
  margin-left: auto;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
