@media screen and (max-width: 767px) {
  .menulist {
    display: none;
  }

  .addreslist {
    display: none;
  }

  .flexible {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .container-header {
    padding-top: 17.5px;
    padding-bottom: 17.5px;
    border: none;
    box-shadow: none;
  }

  .open-menu-button {
    border: none;
    background-color: transparent;
    padding: 0;
    line-height: 0;
  }

  .mobile-menu {
    position: fixed;
    display: flex;
    flex-direction: column;
    left: 0;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    background-color: var(--white-background);
    transform: translateX(100%);
    transition: transform 250ms ease-out;
    padding: 72px 24px 40px 16px;
  }

  .mobile-menu.is-open {
    transform: translateX(0%);
  }

  .mobile-menu-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--accent);
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    line-height: 0;
  }

  .mobile-menu-close-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mobile-menu-close-btn:hover,
  .mobile-menu-close-btn:focus {
    background-color: var(--pressed-state);
    border: none;
  }

  .mobile-menu-close-btn:hover .mobile-menu-close-icon {
    fill: var(--white-background);
  }

  .mobile-menu-close-btn:focus .mobile-menu-close-icon {
    fill: var(--white-background);
  }

  .mobile-menulist {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .mobile-menulist-item {
    color: var(--dark);
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
  }

  .mobile-navlink {
    color: var(--dark);
    font-weight: 500;
    font-size: 36px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mobile-navlink:focus {
    color: var(--pressed-state);
  }

  .mobile-menu-contacts {
    display: flex;
    flex-direction: column;
    gap: 48px;
    margin-top: auto;
  }

  .mobile-addreslist {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .mobile-addreslist-item {
    font-size: 20px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
  }

  .mobile-addres {
    color: var(--dark);
    cursor: pointer;
    font-style: normal;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mobile-addres:focus,
  .mobile-addres:hover {
    color: var(--pressed-state);
  }

  .mobile-icons-list {
    display: flex;
    gap: 40px;
  }

  .curent {
    color: var(--pressed-state);
    position: relative;
  }
}

.logo {
  color: var(--primary-brand);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.spanlogo {
  color: var(--dark);
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }

  .open-menu-button {
    display: none;
  }

  .flexible {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .menulist {
    display: flex;
    gap: 40px;
    margin-left: 120px;
  }

  .menulist-item {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .navlink {
    padding: 24px 0;
    color: var(--text);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .curent {
    color: #404bbf;
    position: relative;
  }

  .curent::after {
    display: block;
    content: '';
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--pressed-state);
    position: absolute;
    left: 0;
    bottom: -1px;
  }

  .navlink:hover,
  .navlink:focus {
    color: var(--pressed-state);
  }

  .addreslist {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .addres {
    color: var(--text);
    display: flex;
    font-style: normal;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.04em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .addres:hover,
  .addres:focus {
    color: var(--pressed-state);
  }
}

@media screen and (min-width: 1158px) {
  .logo {
    margin-right: 76px;
  }

  .addreslist {
    flex-direction: row;
    gap: 40px;
  }

  .addres {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }

  .container-header {
    border-bottom: 1px solid var(--accent);
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  }
}
